.dotfiles/*_custom

# Sublime
Sublime/Index/*
Sublime/Local/*
Sublime/Cache/*
Sublime/Packages/User/Package Control.cache/*
Sublime/Cache/Default/Startup.cache
Sublime/Packages/User/Package Control.last-run
