[Desktop Entry]
Type=Application
Exec=/usr/bin/brave-browser
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Brave
Name=Brave
Comment[en_US]=
Comment=
