[Desktop Entry]
Type=Application
Exec=sublime-text
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=sublime
Name=sublime
Comment[en_GB]=
Comment=
